/*
    Programación 4 - Proyecto #1
    26 Abril 2019

    Document   : password.css
    Author     : Rachel Basulto 801030879
                 Danny Gómez    116440310
*/

html{
    background: url("https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1600px 780px;
}

#h1{
    margin-left: 37%;
    margin-right: 37%;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-top: 7%; 
}

 /******************* BARRA **********************/

#encabezado{
    border-bottom: rgba(24,24,24,0.90) solid 2px;
    border-top: rgba(24,24,24,0.90) solid 2px;
    padding: 7px;
}

#barra{
    width: 100%;
    background-color: rgba(77,70,70,0.20);
}

.th{
    font-size: 17px;
    padding: 0;
    color: #0c0c0c;
    cursor: pointer;
}   

.th:hover{
    opacity: 0.85;
    font-size: 20px;
    text-decoration: underline;
}

#gestor{
    font-size: 50px;
    font-family: 'Cookie', cursive;
    float: left;
    margin-left: 5%;
    color: #0c0c0c; 
    text-shadow: 3px 3px 3px #e2e2e2;   
}

 /******************* BARRA **********************/

form{
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    width: 30%;
    background-color: rgba(77,70,70,0.15);
    margin-left: 35%;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
}

label{
    margin-left: 42px;
    display: inline-block;  
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 8px 12px;
    margin: 8px 42px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 13.5px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    margin: 30px 42px;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 8px;
}

button:hover{
    opacity: 0.8;
}
